---
const { source, className } = Astro.props;
import ImageMod from "./ImageMod.astro";

export interface ISocial {
  name: string;
  image: string;
  link: string;
}
---

<ul class={className}>
  {
    source.map((social: ISocial) => (
      <li>
        <a
          aria-label={social.name}
          href={social.link}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">{social.name}</span>
          <ImageMod
            class="w-full"
            src={social.image}
            alt={social.name}
            width={500}
            height={500}
            format="webp"
          />
        </a>
      </li>
    ))
  }
</ul>
